body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 60px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.5vmax; 
    align-items: center;
}

button {
    position: absolute; 
    margin-bottom: 100px;
    bottom: 0; 
    font-family: Helvetica, Arial, sans-serif;
    background-color: #9AECCF; 
    border: none; 
    outline: none; 

}


.container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




