body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; 
}

#eye-container {
  pointer-events: none; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; 
}

#grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eyeCanvas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

